.Weather {
  padding: 30px;
  border-radius: 10px;
  color: rgb(135, 135, 135);
  background-color: #a3e4db;
}

.Weather .city {
  font-size: 35px;
  font-weight: 400;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: black;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  line-height: 19px;
  list-style: none;
}
.Weather .main-temperature {
  text-align: center;
  font-weight: 500;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  right: -10px;
}
.Weather .unit a {
  text-decoration: none;
  color: rgb(135, 135, 135);
}
.Weather .weather-details {
  text-align: center;
}
.Weather .btn {
  color: black;
  margin-left: 0px;
  transition: all 200ms ease-in-out;
}
.Weather .btn:hover {
  background-color: #4baea0;
  color: white;
  border-color: #4baea0;
}
