.Weather {
  padding: 40px 30px;
  border-radius: 10px;
}

.Weather .city {
  font-size: 35px;
  font-weight: 400;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: black;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  line-height: 19px;
  list-style: none;
}
.Weather img {
  vertical-align: auto;
}
.Weather .main-temperature {
  text-align: center;
  font-weight: 500;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  right: -10px;
}
.Weather .unit a {
  text-decoration: none;
  color: black;
  opacity: 0.6;
  transition: all 200ms ease-in-out;
}
.Weather .unit a:hover {
  font-weight: 500;
}
.Weather .weather-details {
  text-align: center;
}
.Weather .search {
  width: 100%;
  position: relative;
  display: flex;
  border: none;
}
.Weather .btn {
  margin-left: 5px;
  transition: all 200ms ease-in-out;
  background-color: white;
}
.Weather .btn:hover {
  background-color: rgb(203, 201, 201);
  color: white;
}
